@charset "UTF-8";
body{
  margin: 0;
  background: linear-gradient(to bottom, white 50%, red 0%);
  
  height:100vh;
  text-align:center;
  color:#fff;
}
h1{
	text-align: center;
	font-size: 50px;
	color: steelblue;
}
h2{
	text-align: center;
	font-size: 20px;
	color: steelblue;
}
form {
	margin: 20px auto;
	width: 320px;
	color: steelblue;
	padding: 5px;
}
input{
	padding:5px;
	font-size: inherit;
}
input[type="text"] {
	display: block;
	margin-bottom:1px;
	width: 100%;
	border: 2px solid steelblue;
}
input[type="radio"] {
	margin:0px 8px 25px 18px;
}
div{
	padding: 5px;
}
input[type="radio"]:checked + label {
	font-weight: bold;
	font-size: 18px;
}
